* {
    padding: 0;
    font-family: 'Futura', lora;
    box-sizing: border-box;
}

body {
    background: #2d2e2e;
    color: #f2f2f2;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    display: none; 
    cursor: pointer;
}

.menu-icon div {
    width: 30px;
    height: 3px;
    background-color: #2d2e2e;
    margin: 6px 0;
    transition: 0.4s;
}

.navbar-brand img {
    transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover img {
    transform: scale(1.08); 
}

#header{
    width: 100%;
    height: auto;
    margin-top: 5%;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 5px 10%;
}

nav{
    left: 0;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    background-color: #2d2e2e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

/*  fix this shit
#navbarNav {
    position: absolute;
    top: 60px; 
    right: 0;
    background-color: #f8f9fa;
    width: 200px; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}  */


.logo{
    position: relative;
    width: 40px;
}

nav a {
    text-decoration: none;
    border-bottom: none;
}

nav ul li{
    display: inline-block;
    margin: 10px 30px;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    color:#2d2e2e;
    font-size: 18px;
    position: relative;
    border-bottom: 1px solid transparent;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #D0948E;
    position: absolute;
    text-decoration: underline;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a .nav-link::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #D0948E;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.header-text{
    margin-top: 10%;
    /* margin-bottom: 20%; */
    font-size: 20px;
    font-weight: lighter;
    padding-left: 5%;
    padding-right: 5%;
}

.header-text h1{
    font-size: 60px;
    margin-top: 24px;
    font-family: lora;
    font-weight: lighter;
    transition: transform 0.3s, color 0.3s;
}

.header-text h1 span{
    color: #D0948E;
    font-style: italic;
    font-family: lora;
    font-weight: bold;
}

.header-text h1:hover {
    transform: scale(1.1); 
    color: #D0948E; 
}

.header-text h2{
    color: #f2f2f2;
    font-family: Futura;
    font-size: 24px;
    font-style: normal;
    word-wrap: break-word;
    font-weight: 400;
    margin-bottom: 5%;
}

.container2{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
    height: 50vw; 
    width: 90vw;
    margin-top: 5%;
}

/* .box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */

.poolup {
    background-image: linear-gradient(45deg, rgb(206, 143, 157) 0%, rgb(223, 171, 183) 25%, #EDD5D1 50%, #fde7ce 75%, #fecdb3 100%);    background-size: 200%;
    animation: bg-animation 4s infinite alternate;
    /* background-position: left; */
}

/* .poolup:hover,
.poolup:focus{ */
    /* background-image: linear-gradient(90deg, rgb(216, 146, 134) 0%, rgb(245, 222, 213) 0%, #EDD5D1 35.50%, #f6e9e9 100%); */
    /* background-size: 200%; */
    /* background-position: right; */
    /* transition: background-position 1s; */

.mobile-order-buddy {
    background: linear-gradient(45deg, #6daadf 0%, #C6DAEC 25%, #ded1f1 50%, rgb(218, 236, 245) 75%, rgb(255, 233, 251) 100%);
    background-size: 200%;
    animation: bg-animation 4s infinite alternate;
}


@keyframes bg-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.box{
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 78vw;
    height: 38vw;
    border-radius: 30px;
    position: relative;
    transition: 0.25s;
}

.box img{
    width: 43vw;
    height: auto;
    flex-shrink: 0;
    display: block; 
    margin: 0 auto;
    position: absolute; 
    top: 15%; 
    transition: transform 0.3s;
    left: -4%; 
}

.box img:hover{
    transform: translateY(5%) scale(1.05);}

.box-text {
    margin-left: 60%; 
    display: flex;
    flex-direction: column;
}

.box-text a{
    text-decoration: none;
}

.box-text h3 {
    text-decoration: none;
    margin-bottom: 2%;
    color: #2d2e2e;
    font-family: lora;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25%;
}

.box-text h3:hover {
    color: #D0948E;
    text-decoration: underline;
}

.box-text p {
    font-size: 1.5vw;
    line-height: 1.6;
    color: #504e4e;
    font-weight:100;
    line-height: normal;
    margin-left: 1%;
}

.box-text p1 {
    font-size: 1.5vw;
    font-style: normal;
    font-weight: lighter;
    word-wrap: break-word;
    line-height: normal;
    margin-left: 1%;
    color: #2D2E2E;
    width: 20vw;
}

.box-text1 {
    margin-left: 680px; 
    display: flex;
    flex-direction: column;
}

.box-text1 h3 {
    margin-bottom: 10px;
    font-family: lora;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16%;
}

.box-text1 p {
    font-size: 14px;
    line-height: 1.6;
    font-size: 20px;
    color: #504e4e;
    font-weight:100;
    line-height: normal;
    margin-left: 3px;
}

.box-text1 p1 {
    font-size: 24px;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    margin-left: 3px;
    width: 389px;
}

.container4{
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 80vh; 
}

.p2{
    color: #2D2E2E;
    font-family: Futura;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.box-text2 {
    margin-left: 680px; 
    display: flex;
    flex-direction: column;
}

.box-text2 h3 {
    margin-bottom: 10px;
    font-family: lora;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16%;
}

.box-text2 p {
    font-size: 14px;
    line-height: 1.6;
    font-size: 24px;
    color: #8d8d8d;
    font-weight: lighter;
    line-height: normal;
    margin-left: 3px;
}

.box-text2 p1 {
    font-size: 24px;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    margin-left: 3px;
    width: 389px;
}

p2 {
    text-align: center;
    margin-top: 40px;
}

.seemore-container{
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.seemore {
    display: block;
    color: #f2f2f2;
    font-size: 20px; 
    font-family: 'Futura';
}

.seemore:hover {
    text-decoration: underline;
    color: #D0948E;
}

.enter{
    display: block;
    color: #f2f2f2;
    margin-top: 5%;
    font-size: 20px; 
    font-family: 'Futura';
}

.enter:hover {
    text-decoration: underline;
    color: #D0948E;
}

p3{
    color: #2d2e2e;
    font-family: Futura;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 782px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #2d2e2e;
    height: 30%;
}

.footer img {
    width: 4vw;
    padding-left: 80px;
    transition: transform 0.3s ease-in-out, filter 0.3s;
}

.mb-4{
    font-size: 2vw;
    color: #2d2e2e;
}
/* FOOTER MOBILE */
@media (max-width: 576px) {
    .mb-4{
        font-size: 4vw;
    }

    .footer img {
        size: 20%;
        padding-left: 80px;
        transition: transform 0.3s ease-in-out, filter 0.3s;
    }
}

.footer-image:hover {
    content: url('images/change.png');
    transform: scale(1.05);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: left; 
    margin-top: 20px;
}

.footer-image {
    width: 20vw;
    height: auto;
    float: right;
}

#content-wrapper {
    padding: 0px 80px;
}

#aboutheader{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
}

#aboutheader img {
    width: 440px;
    height: 733px;
    flex-shrink: 0;
    margin-top: 180px;
    margin-bottom: 80px;
    border-radius: 30px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }

#aboutheader .text {
    flex: 1;
    margin-top: 180px;
    align-items: flex-start;
}

.text h1 {
    color: #D0948E;
    font-family: Lora;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px; 
    margin-left: 80px;
}

.text h3{
    font-size: 24px;
    font-weight: 100;
    margin-left: 80px;
    margin-bottom: 20px;
}

.text p span{
    color: #D0948E;
    font-style: italic;
    font-weight: 400px;
}

.text p {
    color: #f2f2f2;
    font-family: Futura;
    font-size: 20px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
    margin-left: 80px;
    margin-bottom: 40px;
}

.text h2{
    color: #D0948E;
    font-family: Futura;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-left: 80px;
}

#aboutbody {
    margin-top: 200px;
    align-items: flex-start;
    margin-right: 100px;
}
  
#aboutbody img {
    max-width: 414.736px;
    max-height: 515.908px;
    margin-right: 20px; 
}
  
.content-row {
    width: 100%;
    display: flex;
    padding: 50px 0px;
}

.content-col {
    flex: 30%;
}
  
#aboutbody h1 {
    color: #f2f2f2;
    font-family: Lora;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
#aboutbody p {
    font-size: 24px;
    font-style: normal;
}
  
#aboutbody h2{
    color:#D0948E;
    font-family: "Futura";
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: -20px;
    text-decoration: underline;
}

#aboutbody h3{
    color:#D0948E;
    font-family: "Futura";
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
}

#title h1{
    color: #f2f2f2;
    font-family: Lora;
    word-wrap: break-word;
    font-size: 4vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10%;
    margin-bottom: 2%;
    margin-left: 80px;
}

.hover-effect:hover {
    transform: translateY(-3px); 
    filter: brightness(1.2); 
}

.margin-top-20 {
    margin-bottom: 5vh;
}

.hover-effect:hover {
    transform: translateY(-3px); 
    filter: brightness(1.2); 
}

/* about */
.section {
    margin-top: 5%;
    position: relative;
    margin-bottom: 10%;
}

img {
    max-width: 100%;
    margin-bottom: 10%;
    vertical-align: middle;
    border-style: none;
}

.about-text h3 {
    font-size: 60px;
    text-decoration: none;
    font-family: lora;
    font-weight: lighter;
    transition: transform 0.3s, color 0.3s;
}

.about-text h3:hover {
    transform: scale(1.1); 
    color: #D0948E; 
}

@media (max-width: 767px) {

}
.about-text p {
    font-size: 24px;
    word-wrap: break-word;
    color: #f2f2f2;
}

.about-text p mark {
  font-weight: 400;
  color: #D0948E;
  background: transparent;
}

.about-text2 p {
    font-size: 20px;
    word-wrap: break-word;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #f2f2f2;
}

.about-text2 p mark {
    color: #D0948E;
    background: transparent;
}

.about-avatar{
    margin-top: 5%;
}